/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .tabs__content {
    grid-template-columns: repeat(3, 1fr);
  }
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .tabs__content {
    gap: 60px 15px;
  }
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 868px) {
  .tabs__content {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 8px;
  }
  .menu__list {
    gap: 15px;
  }
  .blog__items-title {
    font-size: 22px;
  }
  .leasing {
    padding-bottom: 130px;
  }
  .promo {
    padding-bottom: 130px;
  }
  iframe {
    height: 430px;
  }
}
/* */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .top__link {
    font-size: 26px;
    padding: 18px;
    max-width: 350px;
  }
  .section__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .swiper-pagination-bullet {
    height: 2px;
    width: 60px;
  }
  .swiper-pagination-bullet-active {
    height: 4px;
  }
  .menu__list {
    font-size: 14px;
  }
  .tabs__btn-item {
    font-size: 20px;
  }
  .footer__menu-title {
    font-size: 20px;
  }
  .footer__menu-link {
    font-size: 14px;
  }
  .copy__nav-link {
    font-size: 14px;
  }
  .lease {
    padding: 80px 0;
  }
  .lease__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .lease__item-title {
    font-size: 20px;
  }
  .leasing__inner-item::before {
    font-size: 28px;
    width: 90px;
    height: 90px;
  }
  .leasing__inner-item {
    font-size: 14px;
    padding: 19px 0 19px 190px;
  }
  .promo__text {
    font-size: 20px;
  }
  .leasing {
    padding-bottom: 100px;
  }
  .promo {
    padding-bottom: 100px;
  }
  iframe {
    height: 380px;
  }
  .consider__list {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
  /* */
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 50px;
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    font-size: 16px;
    text-align: right;
    padding-top: 10px;
  }
  .leasing__inner-item::before {
    font-size: 28px;
    width: 80px;
    height: 80px;
  }
  .leasing__inner-item {
    font-size: 14px;
    padding: 19px 0 19px 150px;
  }
  .leasing {
    padding-bottom: 80px;
  }
  .promo {
    padding-bottom: 80px;
  }
  iframe {
    height: 320px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
  p {
    font-size: 14px;
  }
  .title {
    font-size: 40px;
  }
  .top__link {
    font-size: 20px;
    padding: 10px;
    max-width: 220px;
    width: 100%;
  }
  .tabs__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs__btn-item {
    font-size: 18px;
  }
  .footer__menu-title {
    font-size: 16px;
  }
  .footer__menu-link {
    font-size: 12px;
  }
  .copy__nav-list {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .contacts__text {
    font-size: 16px;
    padding: 0 50px;
    margin-bottom: 22px;
  }
  .form {
    max-width: 580px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .leasing__inner-title {
    font-size: 20px;
  }
  .leasing__inner-item::before {
    font-size: 28px;
    width: 70px;
    height: 70px;
  }
  .leasing__inner-item {
    font-size: 14px;
    padding: 19px 0 19px 100px;
  }
  .promo__text {
    font-size: 20px;
  }
  .leasing {
    padding-bottom: 50px;
  }
  .promo {
    padding-bottom: 50px;
  }
  iframe {
    height: 250px;
  }
  /* */
}

@media only screen and (max-width: 480px) {
  .tabs__btn-item {
    font-size: 12px;
  }
  .footer__menu-title {
    font-size: 14px;
  }
  .footer__menu-link {
    font-size: 10px;
  }
  .consider__list {
    grid-template-columns: repeat(1, 1fr);
  }
  /* */
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
